.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background;
  font-size: 1.3rem;
}

.card {
  width: 33rem;
  // height: 51.4rem;
  background-color: white;
  border-radius: 1rem;
  margin: 7rem 0;
  overflow: hidden;

  &__header {
    height: 20rem;
  }

  &__img {
    object-fit: cover;
    height: inherit;
  }

  &__body {
    padding: 3.1rem;
    padding-bottom: 1.5rem;
  }

  &__title {
    font-size: 1.7rem;
    font-weight: 700;
    color: $primary;
    margin-bottom: 1.4rem;
    line-height: 23px;
  }

  &__description {
    color: $secondary;
    font-size: 1.39rem;
    font-weight: 400;
    line-height: 2.1rem;
    margin-bottom: 3.8rem;
  }

  &__footer {
    display: flex;
    align-items: center;
  }

  &__item {
    list-style: none;
  }

  &__item:nth-child(2) {
    margin-left: 1.2rem;
  }

  &__item:last-child {
    margin-left: auto;
  }

  &__footerImg {
    border-radius: 50%;
    width: 4.3rem;
  }

  &__name,
  &__date {
    display: block;
  }

  &__name {
    color: $primary;
    font-weight: 700;
    font-size: 1.39rem;
    margin-bottom: 0.8rem;
  }

  &__date {
    color: $success;
    word-spacing: 0.3rem;
  }

  &__btn {
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 1rem;
    background-color: $background;
  }
}
